.parent {
    display: grid;
    grid-template-columns: 0.5fr 8fr 0.5fr repeat(2, 1fr) repeat(2, 2fr) 0.5fr;
    grid-template-rows: 0.5fr 2fr 0.5fr 1fr 2.5fr 2fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  /* Ticket Styling */
  
  .div1 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: salmon;
    color: black;
    border: 1px solid black;
    text-align: center;
  }
  .div2 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: salmon;
    color: black;
    border-bottom: 1px solid black;
    text-align: center;
  }
  .div3 {
    grid-area: 4 / 2 / 5 / 3;
    background-color: salmon;
    color: black;
    border-bottom: 1px solid black;
    text-align: center;
  }
  .div4 {
    grid-area: 5 / 2 / 6 / 3;
    background-color: salmon;
    color: black;
    border-bottom: 1px solid black;
    text-align: center;
  }
  .div5 {
    grid-area: 6 / 2 / 7 / 3;
    background-color: salmon;
    color: black;
    text-align: center;
  }
  .div6 {
    grid-area: 2 / 3 / 7 / 4;
    background-color: salmon;
    color: black;
    border-right: 1px solid black;
    writing-mode: vertical-rl;
    text-align: center;
  }
  .div7 {
    grid-area: 2 / 4 / 7 / 5;
    background-color: salmon;
    color: black;
    border-right: 1px solid black;
    writing-mode: vertical-rl;
    text-align: center;
  }
  .div8 {
    grid-area: 2 / 5 / 7 / 6;
    background-color: salmon;
    color: black;
    border-right: 1px solid black;
    writing-mode: vertical-rl;
    text-align: center;
  }
  .div9 {
    grid-area: 2 / 6 / 7 / 7;
    background-color: salmon;
    color: black;
    border-right: 1px solid black;
    writing-mode: vertical-rl;
    text-align: center;
    padding: 1em;
  }
  .div10 {
    grid-area: 2 / 7 / 7 / 8;
    background-color: salmon;
    color: black;
    writing-mode: vertical-rl;
    text-align: center;
    padding: 1.5em;
  }
  
  /* Surrounding Ticket Space Styling */
  
  .div11 {
    grid-area: 1 / 1 / 8 / 2;
    background-color: salmon;
    border: none;
  }
  .div12 {
    grid-area: 1 / 8 / 8 / 9;
    background-color: salmon;
    border: none;
  }
  .div13 {
    grid-area: 1 / 2 / 2 / 8;
    background-color: salmon;
    border: none;
  }
  .div14 {
    grid-area: 7 / 2 / 8 / 8;
    background-color: salmon;
    border: none;
  }
  
  /* Outside of Ticket Styling */
  
  body {
    background-color: goldenrod;
  }
  
  /* Font Styling */
  
  .div9font1 {
    font-size: 20px;
  }
  